/* 重置全局样式 */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(244, 244, 244)
}

/* 修改a的默认样式 */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(225, 37, 27)
}

/* 修改ul li默认样式 */
ul {
    list-style: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

li {
    display: inline-block;
}
img{
    max-width: 100%;
    object-fix:cover;
}

.shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

.shortcut .content {
    height: 30px;
    line-height: 30px;
    color: #999;
    margin: auto;
    font-size: 12px;
}

.shortcut .content .addr {
    float: left;
    margin: 0px 14px 0px 100px;
}

.shortcut .content .webVersion {
    float: left;
}

.shortcut .content .navList {
    float: right;
    margin-right: 100px;
}

.spacer {
    margin: 14px;
}

.iphoneJD {
    position: relative;
}

.iphoneJDImg {
    max-width: 66px;
    position: absolute;
    padding: 5px;
    border: 5px;
    box-shadow: 2px 2px 2px 2px rgb(245, 245, 245, 0.8);
    top: 35px;
    right: -15px;
    display: block;
}

.nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav .content {
    display: flex;
    margin: auto;
    width: 80%;
    height: 140px;
}

.nav .content .logo,
.nav .content .treasure {
    width: 190px;
    align-self: center;
}

.nav .content .search {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.search .navitems ul {
    margin-top: 20px;
}

.search .navitems li {
    margin: 8px;
    font-size: 15px;
}

.hotwords .navList {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #999;
}

.searchForm {
    display: flex;
}

.inputBox {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    border: 2px solid #e2231a;
    width: 550px;
    height: 35px;
    margin-bottom: 5px;

}

.searchInput {
    border: none;
    outline: none;
    font-size: 12px;
    margin: auto 10px;
    width: 75%;
    height: 100%;

}

.searchCamera {
    font-size: 20px;
    margin: auto 15px;
    color: #999;
}

.searchGlass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgb(225, 37, 27);
    width: 58px;
    height: 100%;
    font-size: 20px;
}

.searchBtn {
    width: 130px;
    height: 35px;
    margin: 0px 20px;
    color: #e2231a;
    font-size: 12px;
    border: 1px solid #e3e4e5;
    background-color: #fff;
}

.bi-cart2 {
    position: relative;
    margin: 15px;

}

.upNum {
    position: absolute;
    background-color: #e2231a;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    width: 14px;
    padding: 1px;
    bottom: 5px;
    left: 50%;
}
/* 主图主体部分 */
.main {
    display: flex;
    justify-content: space-around;
    height: 480px;
    width: 80%;
    margin: 10px auto;
    gap:10px;
}

.main .aside {
    width: 200px;
    background-color: #fff;
    padding-top: 10px;
}



.main .menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    overflow: hidden;
}


.main .menu li {
    width: 100%;
    padding: 3px 0px 3px 10px;
}

.main .menu li:hover {
    background-color: rgb(217,217,217);
}
/* 轮播图 */
.main .swiper {
    flex: 3;
} 
.main .swiper .img-slide{
    height: 480px;
}


.main .recommend{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap:10px;
    background-color: inherit;
   
}

.main .recommend .recommendItem{
    width:100%;
    flex-grow:1;
    height: 154px;
}


.main .user{
    flex: 1;
    background-color: #fff;
}

/* footer */
.footer .service{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103px;
    border-bottom: 1px solid #dedede;
}
.footer .service .item{
    display: flex;
    align-items: center;
    width:300px;
    font-size: 18px;
    font-weight: bold;
}
.footer .service img{
    max-width: 50px;
}

.footer .help{
    display: flex;
    justify-content: center;
    
    width: 80%;
    height: 200px;
    margin: 0 auto;
    /* padding: 20px 10px; */
    border-bottom: 1px solid #dedede;
}
.footer .help .item{
    width: 200px;
    color: #666;
}
.footer .help .item h5{
    margin: 20px 0px 10px 0px;
    font-size:14px;
}
.footer .help .item li{
    width: 100%;
    font-size:12px;
}
.footer .copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* height: 244px; */
    margin: 0 auto;
    font-size: 12px;
}
.copyright .nav{
    width: 100%;
    color: #666;
    background-color: inherit;
    text-align: center;
    border: none;
    margin: 15px 0px 10px 0px;
}
.copyright .nav a{
    padding: 0px 5px;
}
.copyright .content{
    width: 100%;
    color:#999;
    background-color: inherit;
    text-align: center;
    border: none;
    margin: 0px 0px 5px 0px;
}
.copyright img{
    max-height: 50px;
    margin: 50px 0px;
}
