/* 重置全局样式 */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(244, 244, 244)
}

/* 修改a的默认样式 */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(225, 37, 27);
    cursor: pointer;
}

/* 修改ul li默认样式 */
ul {
    list-style: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

li {
    display: inline-block;
    cursor: pointer;
}
img{
    max-width: 100%;
    object-fix:cover;
    cursor: pointer;
}

.shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

.shortcut .content {
    height: 30px;
    line-height: 30px;
    color: #999;
    margin: auto;
    font-size: 12px;
}

.shortcut .content .addr {
    float: left;
    margin: 0px 14px 0px 100px;
}

.shortcut .content .webVersion {
    float: left;
}

.shortcut .content .navList {
    float: right;
    margin-right: 100px;
}

.spacer {
    margin: 14px;
}

.iphoneJD {
    position: relative;
}

.iphoneJDImg {
    max-width: 66px;
    position: absolute;
    padding: 5px;
    border: 5px;
    box-shadow: 2px 2px 2px 2px rgb(245, 245, 245, 0.8);
    top: 35px;
    right: -15px;
    display: block;
}

.nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav .content {
    display: flex;
    margin: auto;
    width: 80%;
    height: 140px;
}

.nav .content .logo,
.nav .content .treasure {
    width: 190px;
    align-self: center;
}

.nav .content .search {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.search .navitems ul {
    margin-top: 20px;
}

.search .navitems li {
    margin: 8px;
    font-size: 15px;
}

.hotwords .navList {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #999;
}

.searchForm {
    display: flex;
}

.inputBox {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    border: 2px solid #e2231a;
    width: 550px;
    height: 35px;
    margin-bottom: 5px;

}

.searchInput {
    border: none;
    outline: none;
    font-size: 12px;
    margin: auto 10px;
    width: 75%;
    height: 100%;

}

.searchCamera {
    font-size: 20px;
    margin: auto 15px;
    color: #999;
}

.searchGlass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgb(225, 37, 27);
    width: 58px;
    height: 100%;
    font-size: 20px;
}

.searchBtn {
    width: 130px;
    height: 35px;
    margin: 0px 20px;
    color: #e2231a;
    font-size: 12px;
    border: 1px solid #e3e4e5;
    background-color: #fff;
}

.bi-cart2 {
    position: relative;
    margin: 15px;

}

.upNum {
    position: absolute;
    background-color: #e2231a;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    width: 14px;
    padding: 1px;
    bottom: 5px;
    left: 50%;
}
/* 主图主体部分 */
.main {
    display: flex;
    justify-content: space-around;
    height: 480px;
    width: 80%;
    margin: 10px auto;
    margin-bottom: 50px;
    gap:10px;
}

.main .aside {
    width: 200px;
    background-color: #fff;
    padding-top: 10px;
}



.main .menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    overflow: hidden;
}


.main .menu li {
    width: 100%;
    padding: 3px 0px 3px 10px;
}

.main .menu li:hover {
    background-color: rgb(217,217,217);
}
/* 轮播图 */
.main .swiper {
    flex: 3;
} 
.main .swiper .img-slide{
    height: 480px;
}


.main .recommend{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap:10px;
    background-color: inherit;
   
}

.main .recommend .recommendItem{
    width:100%;
    flex-grow:1;
    height: 154px;
}


.main .user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #fff;
}
.main .user .container{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width:100%;
    text-align: center;
    font-size: 12px;
    color:#666;
    margin-top: 10px;
}
.main .user .container .userRight{
    width: 166px;
    height: 45px;
    background: linear-gradient(269.9deg,#FEEAE8 .09%,#FFF3E7 99.91%);
    border-radius: 4px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: auto 8px; */
}
.main .user .container .userRight .title{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-left:8px;
}
.main .user .container .userRight .qrcode{
    width: 30px;
    margin-right:8px;
    margin-top: 4px;
}
.main .user .container .plus{
    width: 166px;
    height: 45px;
    border-radius: 4px;
    background: linear-gradient(90deg,#FFF4D2,#FFECB6);
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .user .container .plus .title{
    width: 90px;
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-left:8px;
}
.main .user .container .plus .plusArray{
    flex:1;

}
.main .user .service{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

}
.main .user .service .item{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #333;
    margin-bottom: 8px;
}
.main .user .service .item img{
    max-width: 28px;
}
.main .user .news{
    font-size: 12px;
    align-self: flex-start;
}
.main .user .news .title{
    display: inline-block;
    color:#e1251b;
    width:35px;
    background-color: rgba(225,37,27,.08);
    text-align: center;
    margin-right:3px;
}

/* 秒杀 */
.seckill{
    display: flex;
    /* justify-content: space-around; */
    width:80%;
    height: 260px;
    margin:0 auto;
}
.seckill .seckillTimer{
    width: 200px;
    color:#fff;
    background-image: url('https://storage.360buyimg.com/channel2022/jd_home/0.0.28/assets/img/4a15d8883775742e3efbb850ae14def7.png');
}
.seckill .seckillTimer .title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.seckill .seckillTimer .tips{
    font-size: 18px;
    text-align: center;
    
}
.seckill .seckillTimer .timer{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    
}
.seckill .seckillTimer .timer .clock{
    display: inline;
    background-color: #000;
    padding: 3px 2px;
}
.seckill .seckillSwiper{
    flex:1;
    background-color: #fff;
} 
.seckill .seckillAdv{
    width: 200px;
}
.seckill .seckillSwiper{
    display:flex;
    justify-content: space-evenly;
    /* overflow: hidden; */
}
.seckill .seckillSwiper .goodsItem{
    font-size:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px
}
.seckill .seckillSwiper .space{
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    background: linear-gradient(180deg,white,#eeeeee,white);
}
.seckill .seckillSwiper .goodsItem:hover, 
.seckill .seckillSwiper .goodsItem .price{
    color:#e1251b;
}
.seckill .seckillSwiper .goodsItem img{
    max-width:140px;
}
/* 频道 */
.centerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
} 
.centerTitle img{
    max-width: 35px;
}
.centerTitle .title{
    font-size: 28px;
    color: #333;
    margin: auto 15px;
}
.channel{
    display: flex;
    width:80%;
    margin:0 auto;
    gap: 10px;
}
.channel .channelItem{
    width:290px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.channel .channelItem .item{
    height: 180px;
    background-color: #fff;
}
.channel .channelItem .item .title{
    margin:17px 0px 13px 30px;
}
.channel .channelItem .item .title .name{
    font-size: 22px;
    font-weight: 700;
    color:#333;
}
.channel .channelItem .item .title .subname{
    font-size: 14px;
    color:#999;
}
.channel .channelItem .item .infoImg{
    display: flex;
    max-width: 100px;
    gap:30px;
    margin-left: 30px;
}

/* 为你推荐 */
.feedsContainer{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin:0 auto;
    gap: 10px;
    /* justify-content: center;
    align-items: center; */
}
.feedsContainer .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:230px;
    height:322px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
.feedsContainer .item img{
    max-width: 150px;
    margin: 20px auto;
}
.feedsContainer .item .info{
   padding: 15px;
}
.feedsContainer .item .info .price{
    margin-top: 10px;
    font-weight: 700;
    color:#e1251b
}
.feedsContainer .item .info .price .unit,.feedsContainer .item .info .price .flo{
    font-size: 12px;
}
.feedsContainer .item .info .price .int{
    font-size: 22px;
}
.feedsContainer .item .info .name .tag{
    color:#fff;
    background-color: #e1251b;
    display: inline-block;
    width: 34px;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
}
/* hover部分 */
.feedsContainer .item .hover .delete{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.feedsContainer .item .hover .btnBox{
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 66px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(180deg,rgba(255,255,255,.8) 0,white 35%,white);
}
.feedsContainer .item .hover .btn{
    height: 28px;
    width: 120px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    border: 1px solid #353131;
    border-radius: 15px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 18px;
    background-color: #333;
}
.feedsContainer .item .hover .btn:hover{
    background-color:#e1251b;
}
.feedsContainer .feedhotword{
    width:230px;
    height:322px;
    background-image: url('../img/red.png');
    background-size: 230px 322px;
}
.feedsContainer .feedhotword .title{
    /* display: inline-block; */
    width: 110px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background: #f2272b;
    margin: 20px auto 37px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 50px;
    /* margin: 0 auto; */

}
.feedsContainer .feedhotword .hotItem{
    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
}
.feedsContainer .feedhotword .hotItem .btn{
  
    margin-bottom: 10px;
    width: 88px;
    border: 1px solid #ffe0e8;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    color: #e2231a;
}
.feedsContainer .feedhotword .hotItem .btn:hover{
    background-color: #e2231a;
    color:#fff;
    cursor:pointer;
}

/* footer */
.footer .service{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103px;
    border-bottom: 1px solid #dedede;
}
.footer .service .item{
    display: flex;
    align-items: center;
    width:300px;
    font-size: 18px;
    font-weight: bold;
}
.footer .service img{
    max-width: 50px;
}

.footer .help{
    display: flex;
    justify-content: center;
    
    width: 80%;
    height: 200px;
    margin: 0 auto;
    /* padding: 20px 10px; */
    border-bottom: 1px solid #dedede;
}
.footer .help .item{
    width: 200px;
    color: #666;
}
.footer .help .item h5{
    margin: 20px 0px 10px 0px;
    font-size:14px;
}
.footer .help .item li{
    width: 100%;
    font-size:12px;
}
.footer .copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* height: 244px; */
    margin: 0 auto;
    font-size: 12px;
}
.copyright .nav{
    width: 100%;
    color: #666;
    background-color: inherit;
    text-align: center;
    border: none;
    margin: 15px 0px 10px 0px;
}
.copyright .nav a{
    padding: 0px 5px;
}
.copyright .content{
    width: 100%;
    color:#999;
    background-color: inherit;
    text-align: center;
    border: none;
    margin: 0px 0px 5px 0px;
}
.copyright img{
    max-height: 50px;
    margin: 50px 0px;
}

